html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--second-text-color);
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  display: block;
  text-align: center;
  padding: 94px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.link {
  text-decoration: none;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.current {
  color: var(--accent-color);
}

/* ------HEADER------ */

.header {
  justify-content: space-between;
  justify-content: center;
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 1200px;
  align-content: center;
  background-color: var(--main-bg-lite-color);
}

.connect {
  margin-left: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--primary-text-color);
}

.header-link {
  transition: color var(--transition-time) var(--cubic);

  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  transform: color;
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-link.current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.navigation-link {
  transition: color var(--transition-time) var(--cubic);

  display: flex;
  margin-right: 30px;
  color: var(--link-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 93px;
}

.header-svg {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}
.header-svg:hover,
.header-svg:focus {
  fill: var(--accent-color);
}

.header-item {
  align-items: center;
  padding-right: 50px;
}

/* ------HERO------ */
.hero {
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--hero-bg-color);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg.jpg);
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  padding: 0;
  color: var(--second-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-button {
  transition: background-color var(--transition-time) var(--cubic);
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-button-color);
  margin: 0 auto;
  padding: 10px 32px;
  border: 1px solid transparent;
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  transform: background-color;
  background-color: var(--btn-hover);
}

.btn {
  cursor: pointer;
  min-height: 38px;
  padding: 6px 22px;
  font-style: inherit;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Sections */

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.icon-main {
  display: flex;
  justify-content: space-between;
}

.svg-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.svg-main {
  display: flex;
  width: 70px;
  height: 70px;
}

.description {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.description-item {
  width: 270px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-right: 30px;
}

.description-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.description-text {
  line-height: 1.71;
}

/* ------ABOUT------ */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.about-item {
  mix-blend-mode: normal;
}

.about-thumb {
  position: relative;
}

.about-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ------TEAM------ */
.team {
  background-color: var(--team-bg-color);
}

.team-cards {
  align-items: center;
}
.card {
  background-color: var(--main-bg-lite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.cards-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  padding: 0;
  color: var(--paragraph-color);
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.team-social :last-child {
  margin-right: 0px;
}

.team-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-social-link {
  transition: background-color var(--transition-time) var(--cubic);
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  color: #afb1b8;
}
.team-social-link:hover,
.team-social-link:focus {
  color: var(--first-button-color);
  background-color: var(--accent-color);
}
.team-social-link:hover .team-social-link-svg,
.team-social-link:focus .team-social-link-svg {
  transform: fill;
  fill: var(--second-text-color);
}
.team-social-link-svg {
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: currentColor;
}
.team-social-link-svg {
  fill: var(--transition-time) var(--cubic);
  fill: var(--icon-color);
}

.team-social-link-svg:hover,
.team-social-link-svg:focus {
  fill: var(--first-button-color);
}

/* ----------CLIENTS--------- */
.regular-clients-list {
  display: flex;
  justify-content: center;
}

.regular-clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  transition: border var(--transition-time) var(--cubic),
    color var(--transition-time) var(--cubic);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  transform: border-color, color;

  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-svg {
  transition: fill var(--transition-time) var(--cubic);

  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* ------FOOTER------ */
.logo-white span {
  color: var(--second-text-color);
}

.footer {
  padding: 60px 0;
  background: var(--footer-bg-color);
  color: var(--second-text-color);
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-design {
  margin-bottom: 20px;
}
.footer-contacts {
  flex-direction: column;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  margin-bottom: 9px;
}
.footer-link:hover,
.footer-link:focus {
  transform: color;

  color: var(--accent-color);
}
.footer-item > a.adress {
  transition: color var(--transition-time) var(--cubic);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  font-style: normal;
  margin-bottom: 9px;
}
/* ------footer-social------ */

.footer-social {
  justify-content: center;
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: baseline;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  transition: background-color var(--transition-time) var(--cubic);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  transform: background-color;

  background-color: var(--accent-color);
}

.footer-social-svg {
  fill: #ffffff;
}

.sign-up {
  justify-content: center;
  margin-left: 93px;
}
/* ------footer-sign-up------ */

.sign-up-form {
  display: flex;
}

.sign-up-title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.sign-up-input {
  cursor: pointer;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--second-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-time) var(--cubic);
}
.sign-up-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--cubic);
}
.sign-up-input:focus {
  border-color: var(--accent-color);
}
.sign-up-input:focus::placeholder {
  color: var(--second-text-color);
}

.sign-up-btn {
  height: 50px;
  padding: 10px 29px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--second-text-color);
  transition: background-color var(--transition-time) var(--cubic);
}
.sign-up-btn:hover,
.sign-up-btn:focus {
  background-color: var(--btn-hover);
}
.sign-up-icon {
  margin-left: 10px;

  fill: var(--second-text-color);
}

/* --------------------PORTFOLIO-------------------- */
/* -------------menu------------- */

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu-button {
  transition: background-color var(--transition-time) var(--cubic),
    color var(--transition-time) var(--cubic),
    box-shadow var(--transition-time) var(--cubic);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}

.menu-item {
  margin-right: 8px;
}

.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* --------------------PORTFOLIO-------------------- */
/* -------------products------------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  transition: box-shadow var(--transition-time) var(--cubic);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
}

.products-link {
  display: block;
  transition: box-shadow var(--transition-time) var(--cubic);
}

.products-link:hover,
.products-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-thumb {
  position: relative;
  overflow: hidden;
}
.products-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.products-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
}
.products-overlay,
.products-overlay-text {
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--cubic);
}
.portfolio-item:hover .products-overlay,
.portfolio-item:hover .products-overlay-text {
  transform: translateY(0);
}
.portfolio-item:hover .products-overlay,
.portfolio-item:hover .products-overlay-text {
  opacity: 1;
}

.portfolio-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.active {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* MODAL */

/* .............MODAL............... */

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
  transition: opacity var(--transition-time) var(--cubic) visibility
    var(--transition-time);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotate(80deg);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition-time) var(--cubic);
  min-height: 581px;
  min-width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(4n) {
  margin-bottom: 18px;
}

.modal-form-field:nth-child(5n) {
  margin-bottom: 32px;
}

.modal-input,
.feedback-txt {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--link-color);
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-time) var(--cubic);
  cursor: pointer;
}
.modal-input-wrap {
  position: relative;
  width: 100%;
  height: 40px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-right: 10px;
  padding-left: 42px;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill var(--transition-time) var(--cubic);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-title {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--link-color);
}

.feedback-txt {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.feedback-txt:focus {
  border-color: var(--accent-color);
}

.feedback-txt::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.terms-check {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link-color);
}

.terms-check span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color var(--transition-time) var(--cubic),
    border var(--transition-time) var(--cubic);
  display: flex;
  margin-right: 6px;
}

.icon-check {
  fill: transparent;
  transition: fill var(--transition-time) var(--cubic);
}

.modal-check:checked + .terms-check span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .terms-check span .icon-check {
  fill: var(--second-text-color);
}

.terms-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.submit-btn {
  display: flex;
  margin: auto auto;
  padding: 10px 55px;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--second-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-time) var(--cubic);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--btn-hover);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-time) var(--cubic);
}
.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
}
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
