.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.about-item {
  mix-blend-mode: normal;
}

.about-thumb {
  position: relative;
}

.about-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
